:root{
  --col1:white;
  --col2:black;
  --col3:#c8c2c2;
  --border-color:lightgray;
  /* --font: NormalidadExtended, "system_ui", -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' */
  --font: "Archivo", sans-serif;
}
body{
  margin:0;
}
*{
  box-sizing:border-box;
}

/* navbar  */
nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 50px;
  min-height: 76px;
  border-bottom: 0.1px solid var(--border-color);
  transition: 0.5s;

  .menu {
    list-style: none;
    color: var(--col2);
    display: flex;
    align-items: flex-start ;
    gap: 20px;
    padding: 0;
    margin: 0;
    height: 76px;

    .menu-item {
      position: relative;
      font-family: var(--font);
      letter-spacing: 1px;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
      color: var(--col1);
      height: 100%;
      top: 32px;

      /* drop down */
      .drop-down {
        box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
        padding: 40px 50px;
        width: 100vw;
        position: absolute;
        top: 43.5px;
        left: -50px;
        display: none;
        cursor: default;

        /* content  */
        .content {
          display: flex;
          flex-direction: column;
          gap: 20px;
          list-style: none;
          padding: 0;

          .title {
            font-size: 17px;
            font-weight: 400;
          }
          li {
            font-size: 14px;
            font-weight: 300;
            margin: 0;
            cursor: pointer;
          }
        }
        /* poster  */
        .poster {
          display: flex;
          gap: 40px;
          
          img {
            width: 300px;
            height: 300px;
          }
        }
      }
      /* ambassadors  */
      #ambassadors {
        font-size: 14px;
        font-weight: 300;
        margin: 0;
        cursor: pointer;
        position: absolute;
        top: 43.5px;
        width: 200px;
        padding: 28px 24px;
        box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
        display: none;
      }
    }

    /* create fake element  */
    .menu-item::after {
      content: "";
      position: absolute;
      left: 0;
      top: 42.5px;
      width: 0;
      height: 2px;
      background-color: black;
      transition: width 0.3s ease;
    }
    .menu-item:hover::after {
      width: 100%;
    }
    .menu-item:hover {
      .drop-down {
        display: flex;
        justify-content: space-between;
        background-color: var(--col1);
      }
      #ambassadors {
        display: block;
        background-color: var(--col1);
      }
    }
  }

  #logo {
    position: absolute;
    width: 115px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  .hero {
    display: flex;
    gap: 24px;
    align-items: center;

    .country-chooser {
      min-width: 105px;
      font-family: var(--font);
      font-size: 13px;
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 5px;

      a {
        padding: 8px 10px;
        text-decoration: none;
        color: var(--col1);
      }
      a:hover {
        border: 1px solid var(--col1) ;
      }
      .selected {
        border: 1px solid var(--col1) ;
      }
    }

    .icon {
      cursor: pointer;
      color: var(--col1);
    }

    #buy-prime {
      font-family: var(--font);
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;
      letter-spacing: 1px;
      padding: 15px 27px;
      color: var(--col1);

      min-height: 76px;
      min-width: 160px;

      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      transition: 0.5s;
    }
  }
}

/* nav.scrolled {
  background-color: var(--col1);
} */

/* design hover  */
nav:hover {
  background-color: var(--col1);

  .menu {
    .menu-item {
      color: var(--col2);
    }
  }

  .hero {
    .country-chooser {
      a {
        color: var(--col2);
      }

      .selected {
        border: 1px solid var(--col2) ;
      }
      a:hover {
        border: 1px solid var(--col2) ;
      }
    }

    .icon {
      color: var(--col2);
    }

    #buy-prime {  
      background-color: var(--col2);
    }
  }
}


/* slider  */
.slider {
  width: 100%;
  overflow: hidden;

  .slides {
    display: flex;
    width: 300%;
    animation: slide 9s infinite;

    /* prime-shake  */
    #prime-shake {
      background-image: url("img/slide/prime_shake.webp");
    }
    /* limited edition  */
    #limited-edition {
      background-image: url("img/slide/limited_edition.webp");
    }
    /* protein redefined  */
    #protein-redefined {
      background-image: url("img/slide/protein_redefined.webp");
    }
    /* banner  */
    .banner {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 33.333%;
      min-height: 110vh;
      margin-top: -77px;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

    }

    /* caption  */
    .caption {
      font-family: var(--font);
      color: var(--col1);
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 30px;
      max-width: 685px;

      p {
        font-size: 20px;
        letter-spacing: 3px;
        margin: 0;
      }
      span {
        font-size: 35.7px;
        font-weight: 600;
        margin: 0 0 21px;
        padding: 10px 0 0;
      }
      .find-in-stores {
        /* background-color: var(--col1); */
        border: 1px solid var(--col1);
        color: var(--col2);
        max-width: 250px;
        position: relative;
        display: inline-block;
        overflow: hidden;
        z-index: 1;

        text-align: center;
        padding: 15px 45px;
        margin: 0 0 12px;
        
        font-size: 14px;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
      }
      .find-in-stores::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--col1);

        transform: translateX(0);
        transition: transform 0.5s;

        z-index: -1;
      }

      .find-in-stores:hover::before {
        transform: translateX(100%);
      }

      .find-in-stores:hover {
        border: 1px solid var(--col1);
        color: var(--col1);
      }
    }
  }
}

/* auto slide  */
@keyframes slide {
  0% {
    transform: translateX(0);
  }

  30% {
    transform: translateX(0);
  }

  33% {
    transform: translateX(-33.333%);
  }

  63% {
    transform: translateX(-33.333%);
  }

  66% {
    transform: translateX(-66.666%);
  }

  96% {
    transform: translateX(-66.666%);
  }

  100% {
    transform: translateX(0);
  }
}

/* hydration  */
.hydration {
  padding: 95px 0px 20px;
  margin: 0 28px;
  align-items: center;
  text-align: center;

  #title-hydration {
    font-size: 170px;
    font-family: var(--font);
    color: var(--col2);
    letter-spacing: 40px;
    font-weight: 400;
    line-height: 0.85;
    margin: 0px;
    margin-bottom: 70px;
  }

  .item-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    margin: -85px 19px 0px;
    width: 100%;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      img {
        width: 100%;
        height: auto;
        cursor: pointer;
      }

      .product-info {
        display: flex;
        flex: 1;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        font-family: var(--font);

        h3 {
          font-size: 17px;
          text-transform: uppercase;
          font-weight: 500;
          line-height: 1.2;
          letter-spacing: 2px;
        }

        span {
          width: 135px;
          min-height: 38px;
          padding: 2px 14px 1px;
          cursor: pointer;
          border: 1px solid var(--col2);
          font-size: 13px;
          font-weight: 500;
          transition: 0.3s;

          display: flex;
          align-items: center;
          justify-content: center;
        }
        span:hover {
          background-color: var(--col2);
          color: var(--col1);
        }
      }
    }
  }
}

/* hydration-promotion  */
.hydration-promotion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 0 0 80px;

  img {
    min-width: 475px;
    height: 475px;
  }

  .feature-promotion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img {
      max-width: 475px;
      max-height: 350px;
    }
    
    a {
      text-decoration: none;
      color: var(--col1);
      background-color: var(--col2);
      font-family: var(--font);
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 500;
      padding: 15px 27px;
      text-align: center;
      max-width: 199px;
      max-height: 52px;
      transition: 0.3s;

      display: flex;
      justify-content: center;
      align-items: center;
    }
    a:hover {
      background-color: var(--col1);
      color: var(--col2);
      border: 1px solid var(--col2);
    }
  }
}

/* shake  */
.shake {
  padding: 40px 0px;
  margin: 0 28px;
  align-items: center;
  text-align: center;

  #title-shake {
    font-size: 150px;
    font-family: var(--font);
    color: var(--col2);
    letter-spacing: 30px;
    font-weight: 400;
    line-height: 0.85;
    margin: 0px;
    margin-bottom: 70px;
  }

  .item-container {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    margin: -85px 19px 0px;
    width: 100%;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      img {
        width: 100%;
        height: auto;
        cursor: pointer;
      }

      .product-info {
        display: flex;
        flex: 1;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        font-family: var(--font);

        h3 {
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 500;
          line-height: 1.1;
          letter-spacing: 2px;
        }

        span {
          width: 135px;
          min-height: 38px;
          padding: 2px 14px 1px;
          cursor: pointer;
          border: 1px solid var(--col2);
          font-size: 13px;
          font-weight: 500;
          transition: 0.3s;

          display: flex;
          align-items: center;
          justify-content: center;
        }
        span:hover {
          background-color: var(--col2);
          color: var(--col1);
        }
      }
    }
  }
}

/* shake promotion  */
.shake-feature {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px 0;

  img {
    min-width: 475px;
    height: 475px;
  }

  .shake-promotion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img {
      max-width: 475px;
      max-height: 350px;
    }
    
    a {
      text-decoration: none;
      color: var(--col1);
      background-color: var(--col2);
      font-family: var(--font);
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 500;
      padding: 15px 27px;
      text-align: center;
      max-width: 199px;
      max-height: 52px;
      transition: 0.3s;

      display: flex;
      justify-content: center;
      align-items: center;
    }
    a:hover {
      background-color: var(--col1);
      color: var(--col2);
      border: 1px solid var(--col2);
    }
  }
}

/* rapid rehydration  */
.rapid-rehydration {
  padding: 75px 0px 60px;
  align-items: center;
  text-align: center;

  #title-rapid-rehydration {
    font-size: 160px;
    text-transform: uppercase;
    font-family: var(--font);
    color: var(--col2);
    letter-spacing: 20px;
    font-weight: 400;
    line-height: 0.85;
    margin: 0px;
    margin-bottom: 70px;
  }

  .item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: -85px 19px 0px;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        max-width: 326px;
        max-height: 326px; 
        cursor: pointer;
      }

      .product-info {
        display: flex;
        flex: 1;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        font-family: var(--font);

        h3 {
          font-size: 19px;
          text-transform: uppercase;
          font-weight: 500;
          line-height: 1.1;
          letter-spacing: 2px;
        }

        span {
          width: 135px;
          min-height: 38px;
          padding: 2px 14px 1px;
          cursor: pointer;
          border: 1px solid var(--col2);
          font-size: 13px;
          font-weight: 500;
          transition: 0.3s;

          display: flex;
          align-items: center;
          justify-content: center;
        }
        span:hover {
          background-color: var(--col2);
          color: var(--col1);
        }
      }
    }
  }
}

/* rehydration-feature  */
.rehydration-feature {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px 0 40px;

  img {
    min-width: 525px;
    height: 500px;
  }

  .product_callout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img {
      max-width: 525px;
      max-height: 390px;
    }
    
    a {
      text-decoration: none;
      color: var(--col1);
      background-color: var(--col2);
      font-family: var(--font);
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 500;
      padding: 15px 27px;
      text-align: center;
      max-width: 199px;
      max-height: 52px;
      transition: 0.3s;

      display: flex;
      justify-content: center;
      align-items: center;
    }
    a:hover {
      background-color: var(--col1);
      color: var(--col2);
      border: 1px solid var(--col2);
    }
  }
}

/* footer  */
footer {
  padding: 70px 0 80px;
  background-color: var(--col2);

  /* footer top  */
  .footer-top {
    padding: 0 56px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    div {
      padding: 0 13px;
      margin: 0 12px;
      max-width: 395px;

      #footer-title {
        font-size: 18px;
        font-family: var(--font);
        color: var(--col1);
        text-transform: uppercase;
        font-weight: 500;
        margin: 0 0 24px;
      }

      #description {
        font-size: 14px;
        font-family: var(--font);
        color: var(--col1);
      }

      #social {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 28px;
        padding: 24px 0;

        li {
          list-style: none;
          color: var(--col1);
          width: 14px;
          height: 14px;
          padding: 10px 0 0;
          cursor: pointer;
          color: var(--col1);
        }
      }
    }

    .box {
      padding: 0 13px;
      margin: 0 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 12px;

      li {
        list-style: none;
        font-size: 14px;
        font-family: var(--font);
        color: var(--col1);
        text-transform: uppercase;
        font-weight: 500;
        margin: 0 0 12px;
        cursor: pointer;
      }
    }
  }

  /* footer bottom  */
  .footer-bottom {
    padding: 66px 56px 0;
    margin: 0 28px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;

    color: var(--col3);
    font-family: var(--font);
    font-size: 14px;
    font-weight: 500;

    ul {
      display: flex;
      justify-content: space-between;

      li {
        list-style: none;
        cursor: pointer;
      }
    }
  }
}